// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";
@import "govuk-elements";
.relatedContainer {
box-sizing: border-box;
margin-top: 40px;
padding: 0 15px;
}
.relatedContainer .related{
border-top: 10px solid #005ea5;
padding-top: 5px;
margin-top: 1.25em;
.heading-medium {
margin:10px 0;
}
ul{
font-size: 16px;
line-height: 1.25;
li{
margin-bottom: 0.75em;
padding-left: 0;
}
}
}
nav {
.noBullets {
list-style-type: none;
}
}
.numberedList{
li{
padding:15px 0;
}
.icon{
padding-right: 10px;
}
span.circle{
margin-right:10px;
}
}
.modified-date{
color:$grey-1;
}
.header-global{
display: table;
padding: 15px 0 10px;
width: 100%;
margin: 0 auto;
max-width: 960px;
overflow: hidden;
.header-global__title {
display: table-cell;
font-size: 32px;
vertical-align: middle;
font-weight: 700;
line-height: 1.1;
margin: 0;
padding: 0;
width:50%;
}
.header-global__subtitle{
display: table-cell;
font-size: 32px;
vertical-align: middle;
font-weight: 700;
line-height: 1.1;
font-size: 24px;
text-align: right;
width:50%;
}
a {
border-bottom: 1px solid rgba(0, 0, 0, 0);
color: #fff;
display: inline-block;
padding: 2px 0;
text-decoration: none;
}
&:hover{
border-color: #fff;
}
}
#global-header-bar {
background-color: #6f777b;
height: 10px;
}
.report-a-problem-toggle{
display: none;
}
.column-two-thirds{
.list-bullet {
margin-bottom: 20px;
}
.listHelp{
margin-bottom:30px;

}
}
// guidelines template styles

.guidelinesStatic{
	.publication-header .headings .document-type{
		margin-top:30px;
	}
	.in-page-navigation{
		margin-bottom: 30px;
	}
} 

.publication-header{
	padding:30px;
	background: #2b8cc4;
	color: #fff;
	margin-bottom: 30px;
	a{
		color:#fff;
		text-decoration: none;
		&:hover{
		text-decoration: underline;
		}
	}

}

.publication-header .headings .document-type {
    margin: 75px 0 10px;
}
.publication-header .headings .document-type {
    font-size: 27px;
    line-height: 1.11111;
}

// Scroll to top styles
.back-to-content{
    bottom: 15px;
    position: fixed;

 	a {
    display:block;
     float: right;
	}
	.hideScroller{
		display: none;
	}
	.showScroller{
		display: block;
	}

}
.back-to-content a::before {
    content: "↑";
}
