// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";
@import "govuk-elements";
.relatedContainer {
box-sizing: border-box;
margin-top: 40px;
padding: 0 15px;
}
.relatedContainer .related{
border-top: 10px solid #005ea5;
padding-top: 5px;
margin-top: 1.25em;
.heading-medium {
margin:10px 0;
}
ul{
font-size: 16px;
line-height: 1.25;
li{
margin-bottom: 0.75em;
padding-left: 0;
}
}
}
nav {
.noBullets {
list-style-type: none;
}
}
.numberedList{
li{
padding:15px 0;
}
.icon{
padding-right: 10px;
}
span.circle{
margin-right:10px;
}
}
.modified-date{
color:$grey-1;
}
.header-global{
display: table;
padding: 15px 0 10px;
width: 100%;
margin: 0 auto;
max-width: 960px;
overflow: hidden;
.header-global__title {
display: table-cell;
font-size: 32px;
vertical-align: middle;
font-weight: 700;
line-height: 1.1;
margin: 0;
padding: 0;
width:50%;
}
.header-global__subtitle{
display: table-cell;
font-size: 32px;
vertical-align: middle;
font-weight: 700;
line-height: 1.1;
font-size: 24px;
text-align: right;
width:50%;
}
a {
border-bottom: 1px solid rgba(0, 0, 0, 0);
color: #fff;
display: inline-block;
padding: 2px 0;
text-decoration: none;
}
&:hover{
border-color: #fff;
}
}
#global-header-bar {
background-color: #6f777b;
height: 10px;
}
.report-a-problem-toggle{
display: none;
}
.column-two-thirds{
.list-bullet {
margin-bottom: 20px;
}
.listHelp{
margin-bottom:30px;

}
}
// guidelines template styles

.guidelinesStatic{
	.publication-header .headings .document-type{
		margin-top:30px;
	}
	.in-page-navigation{
		margin-bottom: 30px;
	}
} 

.publication-header{
	padding:30px;
	background: #2b8cc4;
	color: #fff;
	margin-bottom: 30px;
	a{
		color:#fff;
		text-decoration: none;
		&:hover{
		text-decoration: underline;
		}
	}

}

.publication-header .headings .document-type {
    margin: 75px 0 10px;
}
.publication-header .headings .document-type {
    font-size: 27px;
    line-height: 1.11111;
}

// Scroll to top styles
.back-to-content{
    bottom: 30px;
    position: fixed;

 	a {
    display:block;
     float: right;
	}
	.hideScroller{
		display: none;
	}
	.showScroller{
		display: block;
	}

}
.back-to-content a::before {
    content: "↑";
}


.header-global a{
	&:hover{
		border-bottom:1px solid #fff;
	}

}

.column-one-half{
	.list{margin-bottom:0;}
    .list li{
		font-size:16px;
	}


}






// pagination styles 

.pagination {
    border-bottom: 1px solid #bfc1c3;
    display: block;
    margin: 4em 0 0;
}
@media (max-width: 640px) {
.pagination {
    margin: 2em 0 0;
}
}
.pagination ul {
    margin: 0;
    padding: 0;
}
.pagination li {
    float: left;
    font-family: "nta",Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14286;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: right;
    text-transform: none;
    width: 49%;
}
@media (min-width: 641px) {
.pagination li {
    font-size: 16px;
    line-height: 1.25;
}
}
.pagination li a {
    background-color: transparent;
    color: #005ea5;
    display: block;
    text-decoration: none;
}
.pagination li a:hover, .pagination li a:active {
    background-color: #f8f8f8;
}
.pagination li a .pagination-label {
    display: block;
    font-family: "nta",Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.11111;
    margin-bottom: 0.1em;
    text-transform: none;
}
@media (min-width: 641px) {
.pagination li a .pagination-label {
    font-size: 27px;
    line-height: 1.25;
}
}
.pagination li a .pagination-part-title {
    text-decoration: underline;
}
.pagination li.next {
    float: right;
    text-align: right;
}
.pagination li.next a::before {
    background: transparent url("https://assets.publishing.service.gov.uk/static/arrow-sprite-0fa429eadf557102b8e1ca6bf7220f7e61812efbc4f52ed40e5aedd11474635f.png") no-repeat scroll -102px -11px;
    content: " ";
    display: block;
    float: right;
    height: 38px;
    margin: -4px -32px 0 0;
    width: 30px;
}
.pagination li.previous a::before {
    background: transparent url("https://assets.publishing.service.gov.uk/static/arrow-sprite-0fa429eadf557102b8e1ca6bf7220f7e61812efbc4f52ed40e5aedd11474635f.png") no-repeat scroll -20px -11px;
    content: " ";
    display: block;
    float: left;
    height: 38px;
    margin: -4px 0 0 -32px;
    width: 30px;
}
.pagination li.previous {
    float: left;
    text-align: left;
}
.pagination li.previous a {
    padding: 0.75em 0 0.75em 3em;
}
.pagination li.next a {
    padding: 0.75em 3em 0.75em 0;
}
@media (max-width: 640px) {
.pagination li.previous, .pagination li.next {
    float: none;
    width: 100%;
}
.pagination li.next a {
    text-align: right;
}
}
.pagination .first, .pagination .last {
    min-height: 4.5em;
}
.pagination .first span, .pagination .last span {
    display: block;
    min-height: 4.5em;
    padding: 0.75em 5%;
    width: 90%;
}
.pagination .first .pagination-label, .pagination .last .pagination-label {
    display: block;
    margin-bottom: 0.5em;
}


