{% extends "layout.html" %} {% block page_title %} Skills Funding Agency {% endblock %} {% block content %}

<main class="elements-index" id="content" role="main" tabindex="-1">{% include "includes/phase_banner.html" %}
{% include "includes/breadcrumb.html" %}


<div class="grid-row">
	<div class="column-two-thirds">
		   <h1 class="heading-xlarge">Employ an apprentice</h1>

	<div class="column-one-half">
   		 <ol class="list">
          <li>
            <span class="part-number">1.</span>
            <a href="/" title="Overview">Overview </a>
          </li>
          <li>
            <span class="part-number">2.</span>
          <a title="Part 2: Get a grant" href="getgrant">Get a grant, if you don't pay the levy</a>
          </li>
          <li class="part-number">
            <span class="part-number">3.</span>
              <a title="Funding if you pay the levy" href="fundinglevy">Funding, if you pay the levy</a>
          </li>
        </ol>
  	</div>

  	<div class="column-one-half">
	    <ol class="list">
	          <li>
	            <span class="part-number">4.</span>
	          <a href="payconditions" title="Pay and conditions for apprentices">Pay and conditions for apprentices</a>
	          </li>

	          <li>
	            <span class="part-number">5.</span>
	           Make an apprenticeship agreement
	          </li>
	          <li>
	            <span class="part-number">6.</span>
	            <a title="Part 6: Apprenticeship training agencies" href="/training-agencies">Apprenticeship training agencies</a>
	          </li>
	    </ol>

  	</div>
	<p>&nbsp;<hr></p>

  <h2 class="heading-medium">5. Make an apprenticeship agreement</h2>
 <p>You must sign an apprenticeship agreement with your apprentice.</p>

<p>This gives details of what you agree to do for the apprentice, including:</p>

<ul class="list list-bullet">
  <li>how long the apprenticeship is for</li>
  <li>the training you’ll give them</li>
  <li>their working conditions</li>
  <li>the qualifications they are working towards</li>
</ul>

<p>You can write your own apprentice agreement or download an <a href="https://www.gov.uk/government/publications/apprenticeship-agreement-template">apprenticeship agreement template</a>.</p>

  <footer>
  <nav class="pagination" role="navigation" aria-label="Pagination">
    <ul class="group">
          <li class="previous">
            <a title="Funding, if you pay the levy" rel="prev" href="/payconditions">
              <span class="pagination-label">Previous </span> <span class="pagination-part-title">Pay and conditions for apprentices</span>
</a>          </li>
          <li class="next">
            <a title="Make an apprenticeship agreement" rel="next" href="/training-agencies">
              <span class="pagination-label">Next</span> <span class="pagination-part-title">Apprenticeship training agencies</span>
</a>          </li>
    </ul>
  </nav>
</footer>


</div>
<!-- //column-two-thirds -->


</div>
<!-- //grid-row -->
</main>
<!-- / #content -->
{% endblock %} {% block body_end %}
{% include "includes/scripts.html" %} {% endblock %}
