{% extends "layout.html" %} 
{% block page_title %} Blank Template {% endblock %} 
{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
{% include "includes/phase_banner.html" %} 
{% include "includes/breadcrumb.html" %}
	<div class="grid-row">
		<div class="column-full">










		</div>
		<!-- //column-full -->
	</div>
	<!-- //grid-row -->
</main>
<!-- / #content -->
{% endblock %} 
{% block body_end %}

{% include "includes/scripts.html" %} 
{% endblock %}
