{% extends "layout.html" %} 
{% block page_title %} Skills Funding Agency {% endblock %} 

{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">{% include "includes/phase_banner.html" %}
{% include "includes/breadcrumb.html" %}
 

<div class="grid-row">
	<div class="column-two-thirds">
		   <h1 class="heading-xlarge">Employ an apprentice</h1>

	<div class="column-one-half">
   		 <ol class="list">
          <li>
            <span class="part-number">1.</span>
            <a href="/" title="Overview">Overview </a>
          </li>
          <li>
            <span class="part-number">2.</span>
          Get a grant, if you don't pay the levy
          </li>
          <li class="part-number">
            <span class="part-number">3.</span>
              <a title="Funding if you pay the levy" href="/fundinglevy">Funding, if you pay the levy</a>
          </li>
        </ol>
  	</div>

  	<div class="column-one-half">
	    <ol class="list">
	          <li>
	            <span class="part-number">4.</span>
	          <a title="Pay and conditions for apprentices" href="/payconditions">Pay and conditions for apprentices</a>
	          </li>

	          <li>
	            <span class="part-number">5.</span>
	            <a title="Make an apprenticeship agreement" href="/apprenticeship-agreement">Make an apprenticeship agreement</a>
	          </li>
	          <li>
	            <span class="part-number">6.</span>
	            <a title="Apprenticeship training agencies" href="/training-agencies">Apprenticeship training agencies</a>
	          </li>
	    </ol>

  	</div>
	<p>&nbsp;<hr></p>

  <h2 class="heading-medium">2. Get a grant, if you're a non levy payer</h2>

  <p>You may get a £1,500 apprenticeship grant if:</p>

<ul>
  <li>you have less than 50 employees</li>
  <li>your apprentice is aged 16 to 24</li>
</ul>

<p>You can claim support for up to 5 apprentices.</p>

<p>Fill in the <a rel="external" href="#">enquiry form</a> or contact the National Apprenticeship Service to check you’re eligible and apply.</p>

<div class="contact">
<p><strong>National Apprenticeship Service</strong> <br>
Telephone: 0800 015 0600 <br>
<a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
</div>

<h2>Funding for training</h2>

<p>You can apply for funding to cover the costs of your apprentice’s qualification if you’re providing their formal study as well as being their employer.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>Usually the training organisation provides the apprentice’s training and will get this funding - contact the National Apprenticeship Service for more information.</p>
</div>

<p>The amount you could get varies depending on whether the candidate is:</p>

<ul>
  <li>aged 16 to 18 - you can get all of their course costs up to advanced level apprenticeship qualifications (for example, higher diplomas or A-levels)</li>
  <li>aged 19 to 23 - you can get half of their course costs</li>
  <li>24 years and older - you may only get a contribution</li>
</ul>

<div class="contact">
<p><strong>National Apprenticeship Service</strong> <br>
Telephone: 0800 015 0600 <br>
<a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
</div>


  <footer>
  <nav class="pagination" role="navigation" aria-label="Pagination">
    <ul class="group">
          <li class="previous">
            <a title="Overview" rel="prev" href="/">
              <span class="pagination-label">Previous </span> <span class="pagination-part-title">Overview</span>
</a>          </li>
          <li class="next">
            <a title="Funding, if you pay the levy" rel="next" href="/fundinglevy">
              <span class="pagination-label">Next</span> <span class="pagination-part-title">Funding, if you pay the levy</span>
</a>          </li>
    </ul>
  </nav>
</footer>


</div>
<!-- //column-two-thirds -->


</div>
<!-- //grid-row -->
</main>
<!-- / #content -->
{% endblock %} {% block body_end %}
{% include "includes/scripts.html" %} {% endblock %}
