{% extends "layout.html" %} {% block page_title %} Skills Funding Agency {% endblock %} {% block content %}
<main class="elements-index guidelinesStatic" id="content" role="main" tabindex="-1">{% include "includes/phase_banner.html" %}
{% include "includes/breadcrumb.html" %}
	<div class="grid-row">
		<div class="column-full">
			<header class="publication-header">
				<div class="inner-block floated-children">
				<div class="headings">
				<p class="document-type">Guidance</p>
				<h1 class="heading-xlarge">The Digital Apprenticeship Service: how to use it</h1>
				<p><time class="published-at date" datetime="2016-10-4T09:34:04+01:00">Updated 14 November 2016</time></p>
				</div>
				<nav class="in-page-navigation">
				<h2 class="heading-small">Contents</h2>
				<ul class="noBullets">
				<li><a href="#how-the-levy-works">How the levy works</a></li>
				<li><a href="#understand-das">Understand the digital apprenticeship service</a></li>
				<li><a href="#who-should-use-it">Who should use it</a></li>
				<li><a href="#before-you-start">Before you start</a></li>
				<li><a href="#set-up-your-account">Set up your account</a></li>
				<li><a href="#add-a-PAYE-scheme">Add a PAYE scheme</a></li>
			<!---	<li><a href="#set-up-agreement-sfa">Set up an agreement with the Skills Funding Agency</a></li>--->
				<li><a href="#add-apprentice">Add an apprentice</a></li>
				<li><a href="#understand-your-account">Understand your account funds</a></li>
				<li><a href="#contact-us">Contact us</a></li>
				</ul>
				</nav>
				</div>
			</header>
		</div>
		<!-- //column-full -->
	</div>
	<!-- //grid-row -->

	<div class="grid-row">
	<div class="column-full">
		<p>Use this guidance to set up and use your apprenticeship levy account.</p>
	</div>
	</div>

	<div class="grid-row">

		<div class="column-one-third">
				<!-- Scroll to Top  -->
				<div class="back-to-content">
				<a href="javascript:" id="return-to-top">Contents</a>
				</div>
				<p>&nbsp;</p>
		</div>

	<div class="column-two-thirds">
			<div id="guidelinesContent">

<!---HOW THE LEVY WORKS-->

				<h2 id="how-the-levy-works" class="heading-large">How the levy works</h2>
				<p>To pay training providers through your levy funds you must have an annual payroll bill that exceeds £3 million for any given financial year.</p>

				<p>HM Revenue and Customs (HMRC) will collect your levy payments through your PAYE at a rate of 0.5% per year.</p>

				<p>The levy will be reduced by an allowance of £15,000 per year. The government will also apply a 10% monthly top-up to the funds you have for spending on apprenticeships training in England.</p>

				<p>Example of what levy you will pay:</p>

				<p>An employer with an annual payroll bill of £5,000,000:</p>
				<ul class="list list-bullet text">
					<li>levy sum: 0.5% x £5,000,000 = £25,000</li>
					<li>subtracting levy allowance: £25,000 - £15,000 = £10,000 annual levy payment</li>
				</ul>

				<p>If your payroll changes due to seasonal staff changes or bonuses, it could affect your levy contributions and HMRC declarations for that period.</p>

<!--- UNDERSTAND DAS -->

	<h2 id="understand-das" class="heading-large">Understand the digital apprenticeship service</h2>

				<p>The digital apprenticeship service gives you greater control of your apprenticeships and management of your levy funds. You’ll be able to use this service to:</p>

			<ul class="list list-bullet text">
				<li>pay for the training and assessment of apprentices in England</li>
				<li>find providers to help deliver your apprenticeships</li>
			</ul>

<!--- WHO SHOULD USE IT --->

	<h2 id="who-should-use-it" class="heading-large">Who should use it</h2>

	<p>You should use this guidance to help you set up and manage your account on the digital apprenticeship service.</p>

	<p>Ideally someone from finance, payroll, legal or HR.</p>

	<p>All account users should understand the guidance before using the digital apprenticeship service as it will help you to operate within the terms set out in the Apprenticeship Service Conditions of Use [add link].</p>

<!--BEFORE YOU START--->
	<h2 id="before-you-start" class="heading-large">Before you start</h2>

	<p>To access your funds you’ll need:</p>

	<ul class="list list-bullet text">
		<li>someone to set up the account (the account holder)</li>
		<li>login details of your Government Gateway ID</li>
		<li>a PAYE scheme</li>
	</ul>

<p>The service gives you flexibility to manage your PAYE schemes under one account or set up multiple accounts, 1 for each scheme.</p>

<!--- SET UP YOUR ACCOUNT --->

				<h2 id="set-up-your-account" class="heading-large">Set up your account</h2>
				<p>You can assign different people to do different tasks within your account.</p>


				<h3 id="further-guidance" class="heading-medium">Account owner</h3>

				<p>If you set up the account, you’re the account owner.</p>
				<p>The account owner can: </p>

				<ul class="list list-bullet text">
				   <li>start and stop apprenticeships</li>
				    <li>start and stop payments</li>
				     <li>sign new contracts with training providers</li>
				     <li>view all financial information, such as current balances and forecasts</li>
				     <li>add or remove PAYE schemes from the account</li>
				     <li>manage who has access to the account and what they can do</li>
				     <li>sign an SFA agreement on behalf of each organisation that has an account</li>
				</ul>


				<p>The account owner needs to sign the SFA agreement before the account can be used to hire apprentices.</p>
				<p>The SFA agreement is a legal agreement that the account owner must sign on behalf of the organisation using the account.</p>
				<p>The SFA agreement must be signed in order for you to spend levy funds.</p>

				<h3 class="heading-medium">Manage apprenticeships</h3>

				<p>As the account owner, you can invite people to manage apprenticeships and payments within the account.</p>
				<p>These people can:</p>
				<ul class="list list-bullet text">
				   <li>start and stop apprenticeships</li>
				      <li>start and stop payments</li>
				      <li>sign new contracts with training providers</li>
				      <li>view all financial information, such as current balances and forecasts</li>
				      </ul>

				<h3 class="heading-medium">View only</h3>
				<p>As the account owner, you can invite people to view all financial aspects of the account. They won’t be able to change any information on the account.</p>


<!---ADD A PAYE SCHEME--->

				<h2 id="add-a-PAYE-scheme" class="heading-large">Add a PAYE scheme</h2>
				<p>You need to add a PAYE to your account to claim funding from that PAYE scheme. You can set up your account using one or multiple PAYE schemes.</p>

				<ul class="list list-bullet text">
					<li>your levy payments are worked out from your payroll and are linked to individual PAYE schemes</li>
					<li>you can’t use a PAYE scheme on more than 1 account</li>
					<li>when you add a PAYE scheme to your account your levy funds will automatically show as funds available</li>
					<li>to add a PAYE scheme you need to enter your Government Gateway credentials and sign a user declaration.</li>
				</ul>

				<h3 class="heading-medium">Examples of different PAYE schemes</h3>

				<p>scenario 1:</p>

				<p>1 account, 1 organisation and 1 PAYE scheme</p>
				<ul class="list list-bullet text">
					<li>an organisation has no other connected organisation</li>
					<li>as long as the employer agreement has been signed, the organisation will be able to pay for apprenticeship training from the account</li>
				</ul>

					<p>scenario 2:</p>

					<p>1	account, 2 organisations and 1 PAYE scheme</p>
					<ul class="list list-bullet text">
						<li>organisation A and organisation B have been linked to 1 account with 1 PAYE scheme</li>
						<li>both organisations will have to sign employer agreements if they want to make apprenticeship payments from the account</li>
					</ul>

					<p>scenario 3:</p>

					<p>1 account, 2 organisations and 2 PAYE schemes</p>
					<ul class="list list-bullet text">
						<li>organisation A and organisation B have been linked to 1 account with 2 PAYE schemes</li>
						<li>The levy payments from 2 PAYE schemes are shown in the one account but they are not divided between the 2 organisations</li>
						<li>both organisations will have to sign employer agreements if they want to make apprenticeship payments from the account</li>
					</ul>

					<p>scenario 4:</p>

					<p>2 accounts with 2 organisations and 2 PAYE schemes linked to each account</p>

						<ul class="list list-bullet text">
							<li>2 digital accounts have been created. In the accounts, each has 2 legal entities and 2 PAYE schemes where all employer agreements have been signed</li>
							<li>in 1 account the 2 organisations have pooled their funds from the 2 PAYE schemes to make apprenticeship payments from that account</li>
							<li>in the second account the organisations have done the same thing as the first account</li>
						</ul>


						<p>scenario 5:</p>

						<p>2 accounts, 1 organisation with 1 or more PAYE schemes</p>
						<ul class="list list-bullet text">
							<li>2 accounts have been created for 1 organisation, but different PAYE schemes are linked to each account</li>
							<li>You can choose to have a organisation linked to more than 1 account if you have multiple divisions or cost centres - this lets you manage your apprenticeship programmes separately</li>
							<li>You can’t split a PAYE credit across 2 accounts</li>
							<li>The apprenticeship agreement must be made via the account that has the linked PAYE scheme through which the apprentice is to be paid</li>
						</ul>


						<h3 class="heading-medium">Connected organisations</h3>
						<p>You can manage connected companies’ levy funds in the most suitable way to meet your needs and company structure.</p>

						<p>For example, in 1 account you could:</p>
						<ul class="list list-bullet text">
							<li>have multiple connected organisations</li>
							<li>pool funds from linked PAYE schemes – see paragraph 35 of HMRC guidance (LINK)</li>
						</ul>


<!--- SET UP AN AGREEMENT WITH THE SFA ** NEED TO CHECK THIS!!!!

<h2 id="add-a-PAYE-scheme" class="heading-large">Set up an agreement with the Skills Funding Agency</h2>

	<p>To spend your funds you need to add an organisation to your account.</p>

				<p>Need to check – this is changing as we speak
				You are able to invite a legal signatory, with authority to sign the employer agreement, onto the service to agree to the terms and conditions.</p>

				<p>In signing the employer agreement you are declaring you have the authority to commit the legal entity to the terms set out. To do this you must confirm your name and position?? within the legal entity.</p>

			-->



<!---ADD AN APPRENTICE--->

				<h2 id="add-apprentice" class="heading-large">Add an apprentice</h2>
				<p>Once your account is set up, you can release funds.</p>
				<p>To do this:</p>

				<ul class="list list-bullet text">
				    <li>add an apprentice</li>
				    <li>review and approve apprentices</li>
				</ul>


				<h3 class="heading-medium">You can now add apprentices to your account</h3>

					<p>But first you need to know:</p>

				</p>
				<ul class="list list-bullet text">
				    <li>who your training provider will be and have an agreement in place to deliver the training</li>
				    <li>the company that your apprentices will be employed by, if you have multiple companies</li>

				</ul>

		<p>When you're in your account you, or your training provider need to:</P>

				<ul class="list list-bullet text">
				    <li>enter the cost of the apprenticeship training, as agreed with both you and your training provider</li>
				    <li>agree the duration of the apprenticeship, which can be changed during the apprenticeship</li>
				</ul>

				<h4 class="heading-medium">Review and approve apprentices</h4>

				<p>Check:</p>

				<ul class="list list-bullet text">
				    <li>apprentices' details</li>
				    <li>funds</li>
			</ul>

		<h2 id="understand-your-account" class="heading-large">Understand your account funds</h2>

		<p>Once your account is set up you will see:</p>

		<ul class="list list-bullet text">
			<li>your account will have a year to date (YTD) levy value each month - this will be shown in your balance</li>
			<li>the value will usually increase each month, but it could also go down</li>
			<li>the payment for your apprenticeship training will be taken from the latest balance</li>
			<li>if the balance is fully spent you will need to make the 10% co-investment payment as outlined in the funding rules [link] - this will happen automatically</li>
			<li>you can make changes to your HMRC returns for up to 6 years</li>
			<li>any changes to previous months will be recorded in your account as a reconciliation for that period</li>
		</ul>

<h3 class="heading-medium">Examples:</h3>

<p>Example 1:</p>
<p>In month 12 the declaration for the YTD levy was £120,000. In July it was changed to £135,000 adding an additional £15,000. This additional funding was included in the July credit and levy balance.</p>

<p>Additional declaration		£15,000</p>
<p>July credit				£10,000</p>
<p>Total credit				£25,000</p>

<p>A 10% top up of £2,500 was also applied to the balance.</p>

<p>Example 2:</p>
<p>In month 12 the declaration for the YTD levy of £120,000. In July it was changed to £95,000 deducting £25,000 from the end of year declaration. This deduction is included with the July credit and levy balance.</p>

<p>Negative declaration		- £25,000</p>
<p>July credit				  £10,000</p>
<p>Total credit				  £15,000</p>

<p>The 10% top up of - £1,500 would also show as a negative figure as illustrated below.</p>
<p>Negative declaration (10%)	- £2,500</p>
<p>July credit (10%)			  £1,000</p>
<p>Total credit				- £1,500</p>

<!---CONTACT US-->

<h2 id="contact-us" class="heading-large">Contact us</h2>

<p>If you need to contact use please use the online enquiry form or telephone 08000 150 600</p>

<p>Further reading:</p>
<ul class="list list-bullet text">
	<li><a href="https://www.gov.uk/government/publications/apprenticeship-levy-how-it-will-work">Apprenticeship levy: how it will work guidance</a></li>
	<li><a href="https://www.gov.uk/government/publications/apprenticeship-funding-from-may-2017">Apprenticeship funding document</a></li>
</ul>




				</div> <!-- guidelines -->
		</div><!-- column-two-thirds -->
	</div><!-- grid -->
</main>
<!-- / #content -->
{% endblock %} {% block body_end %}
{% include "includes/scripts.html" %} {% endblock %}
