{% extends "layout.html" %} {% block page_title %} Skills Funding Agency {% endblock %} {% block content %}
<main class="elements-index guidelinesStatic" id="content" role="main" tabindex="-1">{% include "includes/phase_banner.html" %}
{% include "includes/breadcrumb.html" %}
	<div class="grid-row">
		<div class="column-full">
			<header class="publication-header">
				<div class="inner-block floated-children">
				<div class="headings">
				<p class="document-type">Guidance</p>
				<h1 class="heading-xlarge">Manage your apprentices: set up and use your accounts</h1>
				<p><time class="published-at date" datetime="2016-10-4T09:34:04+01:00">Updated 21 October 2016</time></p>
				</div>
				<nav class="in-page-navigation">
				<h2 class="heading-small">Contents</h2>
				<ul class="noBullets">
				<li><a href="#manage-your-team">Manage your team</a></li>
				<li><a href="#access-funds-paye">Access funds using your PAYE schemes</a></li>
				<li><a href="#release-funds">Release your funds</a></li>
				</ul>
				</nav>
				</div>
			</header>
		</div>
		<!-- //column-full -->
	</div>
	<!-- //grid-row -->

	<div class="grid-row">
	<div class="column-full">
		<p>Use this guidance to set up and use your apprenticeship levy account.</p>
	</div>
	</div>

	<div class="grid-row">

		<div class="column-one-third">
				<!-- Scroll to Top  -->
				<div class="back-to-content">
				<a href="javascript:" id="return-to-top">Contents</a>
				</div>
				<p>&nbsp;</p>
		</div>

	<div class="column-two-thirds">
			<div id="guidelinesContent">
				<h2 id="manage-your-team" class="heading-large">Manage your account</h3>
				<p>You can assign different people to do different tasks within your account.</p>


				<h3 id="further-guidance" class="heading-medium">Account owner</h3>

				<p>If you set up the account, you’re the account owner.</p>
				<p>The account owner can: </p>

				<ul class="list list-bullet text">
				   <li> start and stop apprenticeships</li>
				    <li>  start and stop payments</li>
				     <li> sign new contracts with training providers</li>
				     <li> view all financial information, such as current balances and forecasts</li>
				     <li> add or remove PAYE schemes from the account</li>
				     <li> manage who has access to the account and what they can do</li>
				     <li> sign an SFA agreement on behalf of each organisation that has an account</li>
				</ul>


				<p>The account owner needs to sign the SFA agreement before the account can be used to hire apprentices.</p>
				<p>The SFA agreement is a legal agreement that the account owner must sign on behalf of the organisation using the account.</p>
				<p>The SFA agreement must be signed in order for you to spend levy funds.</p>

				<h3 class="heading-medium">People who manage apprenticeships</h3>

				<p>As the account owner, you can invite people to manage apprenticeships and payments within the account.</p>
				<p>These people can:</p>
				<ul class="list list-bullet text">
				   <li>start and stop apprenticeships</li>
				      <li>start and stop payments</li>
				      <li>sign new contracts with training providers</li>
				      <li>view all financial information, such as current balances and forecasts</li>
				      </ul>

				<h3 class="heading-medium">People who have view only access</h3>
				<p>As the account owner, you can invite people to view all financial aspects of the account. They won’t be able to change any information on the account.</p>

				<h2 id="access-funds-paye" class="heading-large">Access funds using your PAYE schemes</h2>
				<p>You need to add a PAYE to your account to claim funding from that PAYE scheme. You can set up your account using one or multiple PAYE schemes.</p>

				<h3 class="heading-medium">Using multiple PAYE schemes</h3>

				<p>You need to choose:</p>

				<ul class="list list-bullet text">
				    <li>which PAYE schemes you'll use to claim levy funds</li>
				    <li>which of your companies will spend these funds and hire apprentices</li>
				</ul>

				<h3 class="heading-medium">Examples:</h3>

				<h4 class="heading-small">1 PAYE scheme and 1 company</h4>
				<p>You can add a PAYE scheme to your account and add the company you want to release the funds to.</p>

				<h4 class="heading-small">3 PAYE schemes and 1 company</h4>
				<p>You can add 3 PAYE schemes to your account and add the company you want to release the funds to.</p>

				<h4 class="heading-small">3 PAYE schemes and 3 companies</h4>
				<p>You can add 3 PAYE schemes to your account and add whichever 3 companies you want to release the funds to.</p>

				<h4 class="heading-small">6 PAYE schemes and 3 companies</h4>
				<p>You can add 6 PAYE schemes to your account and add whichever 3 companies you want to send release the funds to. </p>

				<h2 id="release-funds" class="heading-large">Release your funds</h2>
				<p>Once your account is set up, you can release funds.</p>
				<p>To do this:</p>

				<ul class="list list-bullet text">
				    <li>add an apprentice</li>
				    <li>review and approve apprentices</li>
				</ul>

				<h3 class="heading-medium">Add an apprentice</h3>
				<p>
					You can add apprentices to your account.</p>

					<p>But first you need to know:</p>

				</p>
				<ul class="list list-bullet text">
				    <li>who your training provider will be and have an agreement in place to deliver the training</li>
				    <li>the company that your apprentices will be employed by, if you have multiple companies</li>

				</ul>

		<p>When you're in your account you, or your training provider need to:</P>

				<ul class="list list-bullet text">
				    <li>enter the cost of the apprenticeship training, as agreed with both you and your training provider</li>
				    <li>agree the duration of the apprenticeship, which can be changed during the apprenticeship</li>
				</ul>

				<h4 class="heading-medium">Review and approve apprentices</h4>

				<p>Check:</p>

				<ul class="list list-bullet text">
				    <li>apprentices' details</li>
				    <li>funds</li>
			</ul>






















				</div> <!-- guidelines -->
		</div><!-- column-two-thirds -->
	</div><!-- grid -->
</main>
<!-- / #content -->
{% endblock %} {% block body_end %}
{% include "includes/scripts.html" %} {% endblock %}
