{% extends "layout.html" %} {% block page_title %} Skills Funding Agency {% endblock %} {% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">{% include "includes/phase_banner.html" %} <!-- {% include "includes/breadcrumb.html" %} -->
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge"> Apprenticeships</h1>
			<p>From 1 May 2017, if you are an employer with a payroll of more than £3 million, the way you access funding for apprenticeships will change.</p>
			<div role="note" aria-label="Information on apprenticeship levy" class="panel panel-border-wide">

				<p>Find out about the <a href="../../public/external/link_appLevy.html">apprenticeship levy</a> in more detail.
				</p>
			</div>

			<p>You will be able to access your apprenticeship funding through the digital apprenticeship service where you can: </p>
			<ol class="list numberedList">
				<li>
					<span class="circle circle-step">1</span><a href="../../public/external/estimate_funding.html">Estimate your apprenticeship funding</a> to help calculate how much you’ll have to spend on apprenticeship training and the cost.
				</li>
				<li>
					<span class="circle circle-step">2</span><a href="../../public/external/choose_app_training.html">Choose apprenticeship training</a> for your business and then find a training provider.
				</li>
				<li>
					<span class="circle circle-step">3</span>Work with your training provider to advertise an apprenticeship.</li>
			</ol>

			<h2 class="heading-medium">If you pay the levy you can</h2>

			<ol class="list numberedList">
				<li>
					<span class="circle circle-step">4</span>Register securely using your <a href="../../public/external/govt_gateway.html">Government Gateway ID</a>.</li>

				<li><span class="circle circle-step">5</span>Access your <a href="../../public/external/access_levy.html">levy account</a>.</li>

				<li><span class="circle circle-step">6</span>Link PAYE schemes to create your <a href="../../public/external/access_levy.html">apprenticeship funding account</a>.
				</li>
				<li>
					<span class="circle circle-step">7</span>Agree a cost for training with your training provider and start a new apprenticeship contract.

				</li>
				<li>
					<span class="circle circle-step">8</span>Authorise the payments to your training provider and <a href="../../public/external/access_levy.html">manage your account</a>.
				</li>
			</ol>

			<div role="note" aria-label="Information" class="panel panel-border-wide">
				<p>If you’re not a levy payer you will continue to share the cost of apprenticeships with the government. Find out more about <a href="../../public/external/employing_apprentice.html">employing an apprentice</a>.
				</p>
			</div>

			<h2 class="heading-medium">The levy</h2>


			<ul class="list list-bullet">
				<li>is based on your total payroll bill over the year, which excludes agency workers
				</li>
				<li>will be charged at a rate of 0.5% of your annual payroll bill
				</li>
				<li>will be reduced by an allowance of £15,000 per year
				</li>
				<li>you will pay the levy to HM Revenue and Customs (HMRC) through the PAYE process
				</li>
			</ul>


			<div role="note" aria-label="Information" class="panel panel-border-wide">
				<p>The government will apply a 10% monthly top-up to the funds you have for spending on apprenticeships training in England.
				</p>
			</div>

			<h2 class="heading-medium">Example of what levy you will pay</h2>
			<p>An employer with an annual payroll bill of £5,000,000:</p>

			<ul class="list list-bullet">
				<li>levy sum: 0.5% x £5,000,000 = £25,000
				</li>
				<li>subtracting levy allowance: £25,000 - £15,000 = £10,000 annual levy payment
				</li>
			</ul>

			<h2 class="heading-medium">Find an apprenticeship</h2>
			<p>If you’re interested in becoming an apprentice you can search for <a href="hhttps://www.gov.uk/apply-apprenticeship">current vacancies</a>.
			</p>

			<h2 class="heading-medium">Get help</h2>
			<p>If you need help with the apprenticeship levy, you can:</p>

			<ul class="list list-bullet">
				<li>Ring a number 1234 5678</a>
				</li>
				<li>contact the <a href="#">helpline</a>
				</li>
			</ul>
			<p class="modified-date font-xsmall">Last updated: 3rd October 2016</p>
			<!-- <div class="print-link"><a rel="nofollow" href="/corporation-tax/print" target="_blank">Print entire guide</a></div> -->
		</div>
		<!-- //column-two-thirds -->


		<div class="column-one-third relatedContainer">
			<aside class="related">
				<h2 id="parent-subsection" class="heading-medium">Apprenticeships</h2>


				<nav role="navigation" aria-labelledby="parent-subsection">
					<ul class="list noBullets">

						<li>
							<a href="../../public/external/link_appLevy.html">Apprenticeship levy and how it will work
</a>
						</li>

						<li>
							<a href="../../public/external/apprenticeship_2020.html">Apprenticeships (in England): vision for 2020
</a>
						</li>

						<li>
							<a href="../../public/external/guide_to_apprentice.html">Detailed guide to apprenticeships
</a>
						</li>

						<li>
							<a href="../../public/external/employing_an_apprentice.html">Employing an apprentice
</a>
						</li>
						<li><a href="/indexVersion2" class="bold-xsmall">More</a></li>
					</ul>
				</nav>


				<h2 id="parent-other" class="heading-medium">Elsewhere on GOV.UK</h2>


				<nav role="navigation" aria-labelledby="parent-other">
					<ul class="list noBullets">
						<li>
							<a href="#">Get help with the apprenticeship levy</a>
						</li>
					</ul>
				</nav>

			</aside>
		</div>
		<!-- //column-one-third -->
	</div>
	<!-- //grid-row -->
</main>
<!-- / #content -->
{% endblock %} {% block body_end %}
<!-- GOV.UK elements redirect -->
<script src="/public/javascripts/redirect.js">


</script> {% include "includes/scripts.html" %} {% endblock %}
