{% extends "layout.html" %} {% block page_title %} Digital
apprenticeship service {% endblock %} {% block content %}
<main class="elements-index" id="content" role="main" tabindex=
"-1">{% include "includes/phase_banner.html" %} {% include
"includes/breadcrumb.html" %}
<div class="grid-row">
	<div class="column-two-thirds">
		<h1 class="heading-xlarge">Next Page....</h1>

		<form>
  <div class="form-group">
    <fieldset class="inline">

      <legend class="visuallyhidden">Do you already have a personal user account?</legend>

      <label class="block-label" for="radio-inline-1">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        Yes
      </label>
      <label class="block-label" for="radio-inline-2">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        No
      </label>

    </fieldset>
  </div>
</form>




	</div>
	<!-- //column-two-thirds -->
	<div class="column-one-third relatedContainer">
		<aside class="related">
			<h2 class="heading-medium">Related links</h2>
			<ul>
				<li><a href=
					"https://www.gov.uk/government/publications/apprenticeship-levy-how-it-will-work/apprenticeship-levy-how-it-will-work#contents"
					rel="external" target="_blank">Apprenticeship levy and how it will
				work</a></li>
				<li><a href=
					"https://www.gov.uk/topic/further-education-skills/apprenticeships"
					rel="external" target="_blank">Detailed guide to
				apprenticeships</a></li>
			</ul>
		</aside>
	</div>
	<!-- //column-one-third --></div>
</p><a class="button button-start" href="/home/" role="button">Home page</a></p>
	<!-- //grid-row --></main>
	<!-- / #content -->
{% endblock %} {% block body_end %}
<!-- GOV.UK elements redirect -->
<script src="/public/javascripts/redirect.js">
</script> {% include "includes/scripts.html" %} {% endblock %}
