{% extends "layout.html" %} {% block page_title %} Skills Funding Agency {% endblock %} {% block content %}

<main class="elements-index" id="content" role="main" tabindex="-1">{% include "includes/phase_banner.html" %}
{% include "includes/breadcrumb.html" %}


<div class="grid-row">
	<div class="column-two-thirds">
		   <h1 class="heading-xlarge">Employing an apprentice</h1>

	<div class="column-one-half">
   		 <ol class="list">
          <li>
            <span class="part-number">1.</span>
            <a href="/" title="Overview">Overview </a>
          </li>
          <li>
            <span class="part-number">2.</span>
          <a title="Part 2: Get a grant" href="/getgrant">Get a grant, if you don't pay the levy</a>
          </li>
          <li class="part-number">
            <span class="part-number">3.</span>
              <a title="Funding if you pay the levy" href="/fundinglevy">Funding, if you pay the levy</a>
          </li>
        </ol>
  	</div>

  	<div class="column-one-half">
	    <ol class="list">
	          <li>
	            <span class="part-number">4.</span>
	          <a href="/payconditions" title="Pay and conditions for apprentices">Pay and conditions for apprentices</a>
	          </li>

	          <li>
	            <span class="part-number">5.</span>
	           <a title="Make an apprenticeship agreement" href="/apprenticeship-agreement">Make an apprenticeship agreement</a></li>
	          </li>
	          <li>
	            <span class="part-number">6.</span>
	            Apprenticeship training agencies
	          </li>
	    </ol>

  	</div>
	<p>&nbsp;<hr></p>

  <h2 class="heading-medium">6. Apprenticeship training agencies</h2>
 


 <p>You can use an apprenticeship training agency to find an apprentice to work for you. This means that you:</p>

<ul class="list list-bullet">
  <li>aren’t the apprentice’s employer</li>
  <li>can stop employing the apprentice more easily if you need to</li>
  <li>pay a fee to the agency for the apprentice to work for you</li>
</ul>

<div role="note" aria-label="Information on apprenticeship levy" class="panel panel-border-wide">
<p>Apprenticeship training agency fees are usually the minimum wage for the apprentice plus a management fee.</p>
</div>

<p>The agency supervises the apprentice’s learning, including their training and assessment.</p>

<p>If you end the apprenticeship early (for example, you can’t afford to carry on employing the apprentice) the agency will find them another work placement.</p>

<p>Contact the National Apprenticeship Service for more information on using an apprentice training agency</p>

<div class="contact">
<p><strong>National Apprenticeship Service</strong> <br>
Telephone: 0800 015 0600  <br>
<a href="#">Find out about call charges</a></p>
</div>

  <footer>
  <nav class="pagination" role="navigation" aria-label="Pagination">
    <ul class="group">
          <li class="previous">
            <a title="Make an apprenticeship agreement" rel="prev" href="/apprenticeship-agreement">
              <span class="pagination-label">Previous </span> <span class="pagination-part-title">Make an apprenticeship agreement</span>
</a>          </li>
         
    </ul>
  </nav>
</footer>


</div>
<!-- //column-two-thirds -->


</div>
<!-- //grid-row -->
</main>
<!-- / #content -->
{% endblock %} {% block body_end %}
{% include "includes/scripts.html" %} {% endblock %}
